.cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  
.right h1{
    h1 {
        color: black;
        padding-left:690px;
        padding-top: 30px;
        font-size: 60px;
        font-family: Georgia, sans-serif;
      }
}


.right h1{
  padding-left:700px;
}
.right .cards .card2{
  flex-basis: 20%;
  height: 400px;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}
.card2 img {
  width: 100%;
  border-radius: px;
}

.card2 h4 {
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
}

.card p {
  margin-top: 5px;
  font-size: 14px;
}

.card2 p{
font-family:  Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.card2 h4{
font-family:  Georgia, 'Times New Roman', Times, serif;
text-align: center;
font-size: 17px;
}

.cards .card2{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
justify-content: space-between;
margin-left: 10px; 
padding-left: 10px;

}

